# Ignorar cache de Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de entorno
.env
*.env
requirements.in
requirements.txt

# Virtual environments
venv/
.venv/
.env/

# Archivos de VSCode 
.vscode/

# Packagin
pegasus_framework.egg-info
pegasus_framework.egg-info/*
PKG-INFO



